.header {
    height: 150px;
    padding: 1em;
    font-family: 'Press Start 2P', cursive;
}

.header__right {
    float: right;
}

.header__title {
    color: #aaa; 
    font-weight: bolder;
    padding-left: 1em;
    cursor: default;
}

.header__left {
    float: left;
}

.btn {
    width: 4em;
    height: 3em;
    border-radius: 10px;
    border: none;
    background-color: #aaa;
    margin: .5em;
}

.btn:hover {
    background-color: #888;
}

.filter-btn-active {
    background-color: #85dead;
}

.pin-btn-active {
    background-color: #d8de85;
}