@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


.activities-list-container{
  font-family: 'Share Tech Mono', monospace;

  display: grid;
  grid-template-columns: 220px 4fr;
  grid-template-rows: auto;
  padding: 2em;
  border-radius: 10px;
}

.activities-list-container__right {
  grid-column: 2 / span 3;
  margin-left: 20px;
}

.activities-list-container__left {
  grid-column: 1 / span 1;
  max-width: 230px;
}