


.activity-list{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    padding-left: 1em;
    justify-content: flex-start;
}

.back-header-container {

}

.back-header-container__right{
    position: relative;
    float: right;
    margin-left: 2px;
}
